
.nav-item{
    padding-right: 20px;
}
#navbarNav{
    margin-left: 1200px;
}
.carousel slide{
    width: 50%;
}
.carousel{
    width: 400px;
    margin-left: 130px;
}
.para{
    text-align: justify;
}

.box43{
    width: 20vw;
    height: 300px;
    background-color: aquamarine;
}

@media screen and (min-width: 320px){
    .box43{
        width: 150px;
        height: 150px;
        background-color: #0f6674;
    }
}